
/* FOOTER */

/* .subtituloA {
    font-size: 17px;
    padding-top: 10px;
}

.listadoSubtitulo {
    padding-top: 5px;
}

.SubtituloB {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-decoration-line: underline;
}

Footer img{

    max-width: 40px;
    
}

.inframeFooter {
    padding-top: 10px;
    width: 60%;
    height: 200px;
}

.pieDePagina {
    font-size: 14px;
    margin-top: 20px;
    font-style: italic;
}

.pieDePaginaDos {
    font-weight: bold;
}

footer li{
    list-style: none;
} */





footer img {
    width: 50px;
    height: 40px;

}

.redSocial {

    width: 30px;
    height: 30px;
}

footer ul li {
    list-style: none;
}

footer {
    background-color: rgb(198, 202, 207)
} 